{% extends "base.html" %}

{% block title %} Servicios {% endblock %}
{% block content %}
{% load static %}

<body style="background-color: #383b3d;">
    <div class="container-fluid" Sstyle="padding-top: 70px;">
        <div class="row row_style justify-content-center" id="camiones-row" >
            
        </div>

        <!-- SEGUNDA FILA -->

        <div class="row row_style justify-content-center" id="rampla-row">
            
        </div>
    </div>
{% endblock %}

{% block js_content %}

<script src="{% static 'JS/FUNCION.js' %}"></script>
    

{% endblock %}